<ul>
<%= render "shared/users", user: @user %>
</ul>
<div class = "user-bio">
<h2>Bio</h2>
<p><%= @user.bio %></p>
</div>

<% @posts.each do |post| %>
  <%= render "shared/posts", post: post %>
<% end %>
<div class = "link_to_post">
<div class = "link_to_post">
<%= link_to "See all posts", user_posts_path(@user), class: "link_to_po" %> 
</div>
<div class = "link_to_post">
<%= link_to "Add new post", new_user_post_path(@user), class: "link_to_po" %> 
</div>

</div>











